.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  // z-index: -1;
  font-weight: 700;
  align-items: center;
  z-index: 10000;

  &:before {
    content: '';
    position: absolute;
    background-color: rgba(35,113,185,0.8);
    width: 100vw;
    height: 100vh;
  }

  &__title {
    color: #ed1d24;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-top: 0;
  }

  &__text {
    text-align: center;
  }

  &__wrapper {
    position: absolute;
    width: 30vw;
    height: auto;
    background: rgba(254,251,232,0.9);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    min-width: 600px;
    padding: 30px;
  }
  &__img {
    display: block;
    margin: 10px auto 0;
  }

  &__btn {
    margin-bottom: 15px;
    width: 50%;
    height: 60px;
    font-size: 20px;

    &:last-child {
      background-color: #fde619;
    }

    &_red:last-child {
      background-color: #ed1d24;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }

  &__head {
    color: #ed1d24;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
  }

  input:focus {
    border-color: #fcc403; 
  }

  input {
    cursor: pointer;
    height: 50px;
    width: 50%;
  }

  &__inp {
    text-align: center;
    margin: 20px auto;
  }

  &__question {
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    border-bottom: 1px solid #fcc403;
    width: 35%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }

  &__question a {
    color: red;
    text-decoration: none; 
  }

  &__logo {
    text-align: center;
  }

  &__close {
      position: absolute;
      font-size: 55px;
      font-weight: 100;
      top: 0;
      right: 10px;
      color: red;
      cursor: pointer;
  }

  .forget-password {
    input {
      display: block;
      margin: auto;
    }
  }

  @media (max-aspect-ratio: 3/3) {
    &__wrapper {
      // min-width: 100vw;
      // min-height: 100vh;
      border-radius:0;
      width: 90%;
      min-width: 300px;
    }

    &__btn {
      width: 78%;
    }

    input {
      width: 90%;
      font-size: 80%;
    }
  }
}
