.input {
    border: 0.4vh solid #eed617;
    border-radius: 10px;
    color: #2371b9;
    // padding-left: 5px;

    &--blue::placeholder {
		color: #2371b9;
    }

    &--yellow::placeholder {
		color: #eed617;
    }

    &--error {
       border: 1px solid red;
    }
}

input[name=name],
input[name=email] {
   text-transform: uppercase;
}

::-webkit-input-placeholder {
text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
}

:-ms-input-placeholder {  
   text-align:center; 
}
.input:focus::placeholder      {color: transparent;}