


.menu-inner:hover + .page-header .mode{
  background-color: #fff;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 30px;
  position: fixed;
  top: 30vh;
  left: 0;
  width: 15vh;
  max-width: 226px;
  z-index: 1;
  background-color: #feda00;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: background-color 200ms;

  @media (min-height: 940px) {
    top: 282px;
  }
}

.mode__state {
  margin-right: 10px;

  color: #ed1d24;
  font-weight: 900;
  font-size: 15px;

  &--night {
    color: #0072bc;
  }
}

.mode__toggler {
  position: relative;

  width: 27px;
  height: 14px;

  background-color: #ed1d24;
  border-radius: 10px;
  outline: none;

  appearance: none;

  &:checked {
    background-color: #0072bc;
  }

  &:checked::before {
    left: 5px;
  }

  &::before {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    content: '';

    width: 10px;
    height: 10px;

    background-color: #ffffff;
    border-radius: 50%;
  }
}


@media (max-aspect-ratio: 3/3), (max-width: 567px) {
  .mode {
    position: absolute;
    margin: 0;
    top: -5vh;
    right: 50px;
    z-index: 2000;
    left: auto;
    padding: 0;
    z-index: 10;
    background: none;
  }

  .mode__state {
    margin-right: 5px;

    font-size: 12px;
  }
}
