$lays-yellow: #feda00;
$lays-red: #e13016;


.menu__inner {
  // background-color: $lays-yellow;
  padding: 2vh;
  // padding-bottom: 7vh;

  &:hover {
    // background-color: #ffffff;
  }
}


.menu:hover ~ .page-header .menu__mode {
  background-color: #ffffff !important;
}

.white {
  background-color: #fff;
}

.menu
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 15vh;
    max-width: 226px;
    max-height: 296px;
    transition: background-color 200ms;

    background-color: $lays-yellow;

    &:hover
    {
        background-color: #ffffff;
    }




    &.expanded
    {
        z-index: 7;

        background: white;
        .hamburger-menu-icon
        {
            transition: opacity 200ms;
            pointer-events: none;


            opacity: 0;
        }
        .cross
        {
            position: absolute;
            top: .8vh;
            right: .8vh;

            width: 1.5vh;
            height: 1.5vh;

            background: transparent url('../img/menu/cross.svg') center center no-repeat;
            background-size: 100%;
            &:hover
            {
                cursor: pointer;
            }
        }
    }
    .item
    {
        display: block;

        margin: auto;

        cursor: pointer;
    }
    .hamburger-menu-icon-mobile
    {
        display: none;
    }
    .hamburger-menu-icon
    {
        width: 45%;
        max-width: 50px;

        cursor: pointer;
        transition: opacity 200ms 200ms;

        object-fit: contain;
    }
    .item ~ .item
    {
        margin-top: 19px;
        @media (max-aspect-ratio: 3/3), (max-width: 567px) {
          margin-top: 0;
        }
    }
}

.menu__lamp {
  position: fixed;
  top: 28vh;
  left: 0;
  width: 15vh;
  max-width: 221px;
  // transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;

  @media (min-height: 940px) {
    top: 250px;
  }
}


.menu-inner-wrapper
{
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: all 200ms;
    pointer-events: none;

    opacity: 0;
    &.expanded
    {
        pointer-events: all;

        opacity: 1;
        background: rgba(0, 0, 0, .5);
    }
}

.menu-inner
{
    position: fixed;
    z-index: 7;
    top: 22vh;

    display: flex;

    width: 15vh;
    max-width: 164px;
    height: calc(100% - 22vh);

    transition: transform 300ms, opacity 200ms;
    transform: translate3d(0, -100vh, 0);

    opacity: 0;
    background: white;

    flex-flow: column nowrap;
    .hide
    {
        display: none !important;
    }
    &.expanded
    {
        transition: opacity 300ms 105ms, transform 220ms 50ms;
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
    ul
    {
        width: 100%;
        margin: 0;
        padding: 0;

        list-style: none;

        color: $lays-red;
    }
    .item
    {
        font-size: 1.5vh;

        display: flex;
        display: flex;

        box-sizing: border-box;
        height: 11vh;
        padding: 0 2vh;

        cursor: pointer;
        transition: all 300ms;
        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: inherit;
        text-transform: uppercase;

        flex-flow: column nowrap;
        flex-flow: column nowrap;
        justify-content: center;
        &:hover
        {
            background-color: $lays-yellow;
        }
        img
        {
            max-height: 40%;
            margin-bottom: 6px;

            fill: white;
        }
    }
}

//mob Bohdana , (max-width: 567px)
@media (max-aspect-ratio: 3/3), (max-width: 567px)
{
    .menu__lamp {
      width: 60px;
      top: -30px;
      transform: none;
      left: auto;
      right: 0;
      position: absolute;
    }

    .menu-inner
    {
        z-index: 6;
        top: 0;
        right: 0;
        bottom: 0;
        left: initial;

        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        max-width: 100%;
        padding-top: 75px;

        transform: translate3d(100px, 0, 0);
        pointer-events: none;

        -webkit-overflow-scrolling: touch;
        &.expanded
        {
            transform: translate3d(0, 0, 0);
            pointer-events: auto;
        }
        .item
        {
            height: 12vh;
        }
    }
    .logan-fhd
    {
        width: 12%;
    }

    .menu-inner-wrapper
    {
        top: 0;
        bottom: 0;

        height: 100vh;
    }
    .menu{
        position: relative;

        display: flex;

        width: 100%;
        height: 8vh;
        max-width: 100%;



        .item
        {
            display: block;

            margin-right: 0;
            margin-left: 0;
        }
        .item ~ .item
        {
            width: 12%;
            margin: auto;
            margin-left: 0;

            @media (max-aspect-ratio: 3/3), (max-width: 567px) {
              margin: 0;
            }
        }
        .item.hamburger-menu-icon
        {
            position: absolute;
            top: 50%;
            right: 2%;

            display: block;

            height: 65%;

            transform: translateY(-50%);
        }
    }
    .menu__inner {
      display: flex;
      width: 100%;
      height: 8vh;
      padding-top: 3px;
      padding-bottom: 0;
      flex-flow: row nowrap;
      align-items: center;
    }
    .menu.expanded .cross
    {
        position: absolute;
        top: 50%;

        width: 4%;
        padding: 4%;

        transform: translateY(-50%);
    }
}
