.room {
  position: relative;

  width: 186vh;
  max-width: 1780px;
  margin: 0 auto;

  background-size: 100% auto;

  @media (max-aspect-ratio:3/3) {
    width: 100%;
  }

  &__wrapper {
    position: absolute;
    top: 45.4%;
    left: -2.2%;

    width: 72%;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    perspective: 900px;

    @media screen and (max-width: 182vh) {
      top: 46vh;
      left: -1vw;

      width: 70%;

      transform: translateY(-50%);
    }
    //mob Bohdana

    @media (max-aspect-ratio:3/3), (max-width: 567px) {
      top: 77vw;
      left: 49.7%;

      width: 123vw;

      transform: translateX(-50%);
      @media screen and (max-height: $maxHightTab) {
        top: 52vh;

        width: 82vh;
      }
      @media screen and (min-height: $minHightIphX) {
        // top: 69vw;
        // width: 109vw;
        top: 83vw;

        width: 130vw;
      }
    }
  }

  &__wall {
    width: 100%;
  }
  &__sofa {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    padding-top: 10%;
  }

  .softUp {
    transform-origin: 50% 100%;
  }

  &__people {
    position: absolute;
    top: 22%;
    left: 21.5%;
    z-index: 2;

    display: block;
    width: 61%;
  }

  &__tv {
    position: absolute;
    bottom: 0;
    left: 19%;

    width: 30%;
    padding-top: 24vh;

    text-align: center;
    color: #ffffff;

    background-image: url("../img/tv.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

    // @media screen and (max-width: 182vh) {
    //   padding-top: 25vw;
    //   bottom: -5%;
    //   width: 32%;
    // }

    //mob Bohdana , (max-width: 567px)
    @media (max-aspect-ratio: 3/3), (max-width: 567px) {
      bottom: 4%;
      left: 50%;
      z-index: 1;

      width: 40%;
      padding-top: 17vw;

      transform: translateX(-50%);
      @media screen and (max-height: $maxHightTab) {
        bottom: 0;

        width: 30vh;
        padding-top: 12vw;
      }
      @media screen and (min-height: $minHightIphX) {
        bottom: 15%;
      }
    }
    @media screen and (max-height: 400px) {
      bottom: -5%;
    }
    .tv__scroll-btn {
      position: absolute;
      top: 0;
      left: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 14vh;
      height: 6.4vw;

      font-weight: 100;
      font-size: 1.5vh;
      font-family: "Gotham Pro Medium";
      text-transform: uppercase;

      transform: translateX(-50%);

      fill: transparent;
      svg {
        margin: 0 5%;
      }
      @media (max-aspect-ratio:3/3), (max-width: 567px) {
        display: none;
      }
    }

    .tv__shadow {
      position: absolute;
      top: 0;

      width: 100%;
      padding: 50%;

      background-image: url("../img/shadow1.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 117% auto;
      transform: translateY(-100%);
      opacity: 1;

      // animation: light 10s linear 2.4s infinite;

      &--blue {
        background-image: url("../img/shadow-blue.png");
      }

      @media (max-aspect-ratio:3/3) {
        @media screen and (min-height: $minHightIphX) {
          height: 13vh;
        }
      }

    }
  }
}


.shadow {
  position: absolute;
  top: 8%;
  left: 22%;

  width: 61%;
  height: 100%;
  .room__shadow {
    position: absolute;
    top: 0;

    width: 27%;

    opacity: 0;

    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2.6s;
    animation-iteration-count: infinite;
    &--couple {
      left: 0;

      // animation-name: couple;
      animation-delay: 2.4s;
    }

    &--superman {
      top: -11%;
      left: 50%;

      width: 45%;

      transform: translateX(-50%);

      // animation-name: superman;
      animation-delay: 2.4s;
    }

    &--alien {
      right: 9%;

      // animation-name: ufo;
      animation-delay: 2.4s;
    }
  }
}


// animation tv and shadow

@keyframes light {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


@keyframes couple {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.7;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes superman {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.7;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ufo {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.7;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



