body{
  overflow: hidden;
}
.prizes{
    position: relative;
    z-index: 5;
    transition: transform 600ms;
    transform: translate3d(0, 0, 0);
}
.family{
    position: relative;
    z-index: 5;
    transition: transform 600ms;
    transform: translate3d(0, -100%, 0);
}
.prizes.show{
  transform: translate3d(0, -100%, 0);
}

.family.show{
  transition: transform 600ms;
  transform: translate3d(0,-200%,0);
}

@media (max-width: 1200px){
    body{
        overflow: auto;
    }
    .show,.family,.prizes,.family.show,.prizes.show{
        transform: none;
    }
}

/*// @media (orientation: landscape){
//     body{
//         overflow: auto;

//     }
//     .show,.family,.prizes,.family.show,.prizes.show{
//         transform: none;
//     }
// }

// @media (max-aspect-ratio:3/3){
//     body{
//         overflow: auto;
//         // display: none;

//     }
//     .show,.family,.prizes,.family.show,.prizes.show{
//         transform: none;
//     }
// }*/
