<section class="hollywood" id="js-scroll-hollywood">

	<img src="/img/hollywood/mount.svg" alt="" class="hollywood__montains">
	<img src="/img/hollywood/houses-light.svg" alt="" class="hollywood__houses hollywood__houses--light">
	<img src="/img/hollywood/houses-dark.svg" alt="" class="hollywood__houses hollywood__houses--dark">

	<img src="/img/hollywood/ray.png" alt="" class="ray ray1" id="ray1">
	<img src="/img/hollywood/ray.png" alt="" class="ray ray2">
	<img src="/img/hollywood/ray.png" alt="" class="ray ray3">
	<img src="/img/hollywood/ray.png" alt="" class="ray ray4">
	<img src="/img/hollywood/ray.png" alt="" class="ray ray5">
	<img src="/img/hollywood/ray.png" alt="" class="ray ray6">

	<img src="/img/hollywood/bg-mobile-01.svg" alt="" class=" hollywood__montains--mobile">
	<!-- <img class="hollywood__lights-desktop" src="/img/hollywood/rays.svg" alt=""  > -->
	<img class="hollywood__lights-mobile" src="/img/hollywood/lights.png" alt="">
		<div class="hollywood__content">
			<p class="hollywood__description">Мерщій в Голлівуд! П’ять днів у самому <br> центрі кіновсесвіту – відкриємо для вас <br> лаштунки найкрутіших кіностудій та вулиці <br> одного з найкрасивіших міст планети!</p>
			<a class="hollywood__btn" target="_blink" href="/main" tabindex="-1" id="js-hollywood-btn">
				хочу в голлівуд!
				<svg class="hollywood__icon-triangle">
					<use xlink:href="#icon-triangle"></use>
				</svg>
			</a>
			<img class="hollywood__hero" src="/img/hollywood/SupperLays.png" alt="">
			<img class="hollywood__hero hollywood__hero--mob" src="/img/hollywood/SupperLaysMob.png" alt="">

			<p class="hollywood__text">
					Акція триває з 15.01.2019 по 15.04.2019 по всій території України, крім тимчасово окупованих територій. <br>В Акції бере участь тільки продукція ТМ «Lay’s» з банером «Кіно смакує краще з Lay’s» та акційним кодом всередині. <br>
					* Мається на увазі промокод активації передплати «Кіно і ТБ: Оптимальна» від MEGOGO на період 7 (сім) днів за кожний Акційний код. <br>
					** Мається на увазі щоденний розіграш телевізора LG Smart TV з діагоналлю 32 дюйми. <br>
					*** Мається на увазі розіграш одного сертифікату номіналом 150 000 грн. на подорож у м. Лос-Анджелес (США) тривалістю 5 днів для 2 осіб.
			</p>
		</div>
</section>