<section class="instruction">
		<!-- <img src="img/reelBackground.svg" alt="" class="instruction__background"> -->
		<ul class="instruction__steps slideshow-container">
      <li class="instruction__item mySlides ">
        <div class="instruction__info-wrapper">
            <img class = 'lays' src="/img/step1.svg" alt="">
            <div class="infoBtn" id="infoBtn">
                <svg class="infoBtn__icon">
                  <use xlink:href="#icon-info2-01"></use>
                </svg>
                <div class="info__hidden">
                  <div class="infoText infoTextStyle">В акції беруть участь тільки пачки ТМ «Lay’s» з акційним банером «Кіно смакує краще з Lay’s» та кодом всередині.</div>
                </div>
              </div>
        </div>
        <svg class="instruction__icon" width="20" height="20%">
          <use xlink:href="#icon-arrow-right"></use>

        </svg>

			</li>
			<li class="instruction__item">
        <img class = 'mySlides' src="/img/step2.svg" alt="">
        <svg class="instruction__icon" width="20" height="20%">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
			</li>
			<li class="instruction__item">
        <img class = 'mySlides' src="/img/step3.svg" alt="">
        <svg class="instruction__icon" width="20" height="20%">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
			</li>
			<li class="instruction__item">
        <img  class = 'mySlides' src="/img/step4.svg" alt="">
			</li>
		</ul>

		<script>
				var infoText = document.getElementsByClassName('infoText')[0];
				var infoBtn = document.getElementById('infoBtn');
				// infoBtn.onmouseover =function(){
				// 	infoText.classList.toggle('infoText')
				// }
				infoBtn.onclick =function(){
					// if (screen.width<769){
          infoText.classList.toggle('infoText');
          this.classList.toggle('infoBtn--fill');
					// }
				}
				// infoBtn.onmouseout =function(){
				// 	infoText.classList.toggle('infoText')
				// }
		</script>
</section>

