<nav class="nav-menu"></nav>

<div class="menu" id="menu-block">
  <div class="menu__inner">
      <div class="cross" id="close-menu"></div>
      <img src="/img/menu/movieText.png" class="item logan-fhd"/>

      <a href="https://lays.ua/" class="item logo-lays">
        <img src='/img/menu/logo-lays-fhd.png'
           class="item logo-lays"/>
       </a>
      <img src='/img/menu/hamburger-menu-icon.svg' class="item hamburger-menu-icon" id="open-menu">
      <!-- <div class="menu__mode mode">
        <span class="mode__state">ON</span>
        <input class="mode__toggler" type="checkbox" name="" id="lamp-js">
      </div> -->
<!--       <label for="lamp-js">
        <img class="menu__lamp" src="/img/lamp-on.svg" alt="" width="132" height="238">
      </label> -->

  </div>
</div>

<div class="menu-inner-wrapper" id="close-menu-bg"></div>

<div class="menu-inner" id="menu-inner-block">
  <ul>
    <li>
      <a class="item" href="/?input=expanded" id="js-menu-code">
        <img class="icon-reg-code" src="/img/menu/icon-reg-code.svg" alt="Реєструй код" class="icon" />
        <span class="title">Реєструй код</span>
      </a>
    </li>
    <li class="winners-item">
      <a class="item" id="show-result-btn">
        <img class="icon-winners" src="/img/menu/icon-winners.svg" alt="Призи, переможці" class="icon">
        <span class="title">Призи та переможці</span>
      </a>
    </li>
    <li class="rules-item">
      <a class="item" id="show-rules-modal">
        <img class="icon-rules" src="/img/menu/icon-rules.svg" alt="" class="icon">
        <span class="title">Офіційні правила</span>
      </a>
    </li>
    <li>
      <a href="/faq.pdf" target="_blank" class="item" id="show-questions-modal">
        <img class="icon-questions" src="/img/menu/icon-questions.svg" alt="" class="icon">
        <span class="title">запитання та відповіді</span>
      </a>
    </li>
    <li id="menu-login">
      <a class="item _isAuth">
        <img class="icon-login" src="/img/menu/icon-login.svg" alt="" class="icon" />
        <span class="title">Вхід, реєстрація</span>
      </a>
    </li>
    <li>
    <li id="menu-cabinet" class="hide">
      <a class="item _isAuth">
        <img class="icon-login" src="/img/menu/icon-login.svg" alt="" class="icon" />
        <span class="title">Приватний кабінет</span>
      </a>
    </li>
    <li id="menu-exit" class="hide">
      <a class="item _logout _isAuth">
        <img class="icon-exit" src="/img/menu/icon-log-out.svg" alt="" class="icon" />
        <span class="title">Вихід</span>
      </a>
    </li>
<!--
    <li>
      <a class="item _open-login-modal _isNotAuth hide" >
        <img class="icon-login" src="img/icon-login.svg" alt="" class="icon" />
        <span class="title">Вхід, реєстрація</span>
      </a>
    </li>
    <li>
      <a onclick="openProfile()" class="item hide _isAuth">
        <img class="icon-login" src="img/icon-login.svg" alt="" class="icon" />
        <span class="title">Приватний кабінет</span>
      </a>
    </li>
    <li>
      <a class="item _logout hide _isAuth">
        <img class="icon-exit" src="img/icon-log-out.svg" alt="" class="icon" />
        <span class="title">Вихід</span>
      </a>
    </li>
    <li>
      <a class="item _open-login-modal _isNotAuth">
        <img class="icon-login" src="img/icon-login.svg" alt="" class="icon" />
        <span class="title">Вхід, реєстрація</span>
      </a>
    </li>

 -->  </ul>
</div>
