<section class="prizes" id="bottom-block">
	<header class="prizes__header">
		<img class="prizes__title" src="../img/prizes/title.svg" alt="">
		<img class="prizes__chips" src="../img/prizes/chips.png" alt="">
	</header>
	<ul class="prizes__list">
		<li class="prizes__item prizes__item--megogo" style="position: relative;">
      <svg id="megogo-content" width="100%" height="100%" style="position: absolute; z-index: 2"></svg>
			<img id="megogo-bg" src="../img/prizes/megogo-bg.svg" style="position: absolute; left: 0; width: 100%; height: 100%;"></img>
    </li>
		<li class="prizes__item prizes__item--hollywood" style="position: relative;">
			<svg id="hollywood-content" width="100%" height="100%" style="position: absolute; z-index: 2;"></svg>
      <img id="hollywood-bg" src="../img/prizes/hollywood-bg.svg" style="position: absolute; left: 0; width: 100%; height: 100%;"></img>
			<a class="prizes__btn" tabindex="-1" type="button" href="/hollywood">
				дізнайся більше
				<svg class="hollywood__icon-triangle">
					<use xlink:href="#icon-triangle"></use>
				</svg>
			</a>
		</li>
		<li class="prizes__item prizes__item--lg" style="position: relative;">
			<svg id="lg-content" width="100%" height="100%" style="position: absolute; z-index: 2;"></svg>
      <img id="lg-bg" src="../img/prizes/lg-bg.svg" style="position: absolute; left: 0; width: 100%; height: 100%;"></img>
		</li>
	</ul>
</section>
