<section class="enterform">
	<div class="enterform__wrapper" onclick="event.stopPropagation()">
		<form action="">
			<div class="enterform__close">&times;</div>
			<div class="enterform__logo"><img src="/img/logo.png" alt=""></div>
			<h2 class="enterform__head">Вхід</h2>
				<div class="enterform__inp"><input type="tel" name="phone" class="input input--yellow js-phone-mask" placeholder="+38 (XXX) XXX-XX-XX"></div>
				<div class="enterform__inp"><input type="password" name="password" class="input input--yellow" placeholder="ПАРОЛЬ"></div>
			<button type = 'submit' class="enterform__btn button">УВІЙТИ
				<svg class="hollywood__icon-triangle">
					<use xlink:href="#icon-triangle"></use>
				</svg>
			</button>
			<div class="enterform__question">
				<a class="js-forget">ЗАБУЛИ ПАРОЛЬ?</a>
			</div>
		</form>
		<button class="enterform__btn button" id="registrationBtn">ЗАРЕЄСТРУВАТИСЯ
			<svg class="hollywood__icon-triangle" style='color: red'>
				<use xlink:href="#icon-triangle"></use>
			</svg>
		</button>
	</div>
</section>

<section class="modal js-modal-forget">
  <div class="modal__wrapper">
    <div class="modal__close js-close">&times;</div>
    <h4 class="modal__title">Відновлення паролю</h4>
    <form class="forget-password js-forget-form">
    	<input type="email" name="email" class="input input--yellow" placeholder="E-MAIL" required>
    	<button class="modal__btn modal__btn_red button">далі</button>
    </form>
  </div>
</section>
