@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../fonts/GothamPro/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothamPro/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Black';
    src: url('../fonts/GothamPro/GothamPro-Black.woff2') format('woff2'),
        url('../fonts/GothamPro/GothamPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NatoSans/NotoSans.woff2') format('woff2'),
        url('../fonts/NatoSans/NotoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}